@model TicketingTool.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectRef.ProjectKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectRef.ProjectKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentRef.ComponentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentRef.ComponentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Creator
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorRef.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRef.StatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusRef.StatusName)
        </dd>
        <dt class = "col-sm-2">
            Assignee
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigneeRef.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-issueKey="@Model?.IssueKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
