@model TicketingTool.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectRef.ProjectKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectRef.ProjectKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentRef.ComponentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentRef.ComponentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Creator
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorRef.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusRef.StatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusRef.StatusName)
        </dd>
        <dt class = "col-sm-2">
            Assignee
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigneeRef.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-issueKey="@Model?.IssueKey">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<div class="container mt-4">
    <h2>Ticket Details</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3" id="ticketDetailsTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="true">
                Comments
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="updates-tab" data-bs-toggle="tab" data-bs-target="#updates" type="button" role="tab" aria-controls="updates" aria-selected="false">
                Updates
            </button>
        </li>
    </ul>

    <div class="card mt-3">
        <div class="card-body">
            <h3>Comments</h3>
            <hr />
            <div class="comments-section">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment mb-3 p-3 bg-light rounded">
                        <div class="comment-header d-flex justify-content-between">
                            <span class="fw-bold">
                                @($"{comment.AuthorRef.Name} {comment.AuthorRef.Surname}")
                            </span>
                            <span class="text-muted small">
                                @comment.CreatedDate.ToString("dd/MM/yyyy hh:mm tt")
                            </span>
                        </div>
                        <div class="comment-body mt-2">
                            <p class="mb-0">@comment.Content</p>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <h4>Add a Comment</h4>
            <form asp-action="AddComment" method="post">
                <input type="hidden" name="IssueKey" value="@Model.IssueKey" />
                <textarea name="Content" rows="3" class="form-control mb-2" placeholder="Write your comment..."></textarea>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



        <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
            <div class="card">
                <div class="card-body">
                    <h6>Recent Updates</h6>
                       <table>
                           <thead>
                               <tr>
                                    <th>
                                        Field Changed
                                    </th>
                                    <th>
                                        Old Value
                                    </th>
                                    <th>
                                        New Value
                                    </th>
                                    <th>
                                        Changed By
                                    </th>
                                    <th>
                                        Old At
                                    </th>
                               </tr>
                           </thead>
                           <tbody>
                            @{
                                foreach (var change in Model.Changes)
                                {
                                    <tr>
                                        <td>
                                            @change.ChangedFieldName
                                        </td>
                                        <td>
                                            @change.OldValue
                                        </td>
                                        <td>
                                            @change.NewValue
                                        </td>
                                        <td>
                                            @change.ChangedBy
                                        </td>
                                        <td>
                                            @change.ChangedAt
                                        </td>
                                    </tr>
                                }
                            }
                           </tbody>
                       </table> 
                </div>
            </div>
        </div>
       
    </div>
</div>

