@model IEnumerable<TicketingTool.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRef.ProjectKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentRef.ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Creator
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusRef.StatusName)
            </th>
            <th>
                Assignee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-issueKey="@item.IssueKey">@Html.DisplayFor(model => item.IssueKey)</a>
            </td>
            <td>
                @Html.DisplayFor(model => item.ProjectRef.ProjectKey)
            </td>
            <td>
                @Html.DisplayFor(model => item.ComponentRef.ComponentName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatorRef.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => item.StatusRef.StatusName)
            </td>
            <td>
                @Html.DisplayFor(model => item.AssigneeRef.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ResolvedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-issueKey="@item.IssueKey">Edit</a> |
                <a asp-action="Delete" asp-route-issueKey="@item.IssueKey">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
